<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Create bean for DAO interface.-->
    <bean id="accountDAO" class="com.aiden.dao.impl.AccountDAOImpl"/>

    <!--Create bean for Service Interface.-->
    <bean id="accountService" class="com.aiden.service.impl.AccountServiceImpl">
        <property name="accountDAO" ref="accountDAO"/>
    </bean>
</beans>
